.App {
  /* text-align: center; */
}

.App-logo {
  width: 212.5px;
  height: 69.25px;
}

.App-header {
  background-color: white;
  height: 75px;
  padding: 5px;
  color: black;
  display: flex;
  margin: 0 7%;
}

.App-header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}

.App-title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(34, 140, 210);
  box-shadow: 0 10px rgba(169,169,169,0.4);
}

.App-title {
  color: lightgray;
}

.App-body {
  margin: 130px 0;
}

.App-container {
  margin: 0 10%;
}

.App-banner {
  background-image: url(https://www.healthrecoverysolutions.com/hubfs/Blue%20Stethoscope%20Stock%20Image.jpg?t=1522176120066);
  background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    height: 295.45px;
}

.Posts-header {
  height: 100px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.New-post-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 160px;
  border: 2px solid rgb(34, 140, 210);
  color: rgb(34, 140, 210);
  border-radius: 10px;
  font-size: 16px;
}

.New-post-button:hover {
  border: 2px solid rgba(34, 140, 210, 0.8);
  background: rgba(34,140,210, 0.8);
  color: white;
  cursor: pointer;
}

.New-post-button:active {
  border: 2px solid rgba(34, 140, 210, 1);
  background: rgba(34,140,210, 1);
  color: white;
}

.New-post-button:focus {
  outline: none;
  box-shadow: 0 0 10px 2px rgba(34, 140, 210, 0.8);
}

.New-post-input {
  padding: 10px;
  width: 97%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.New-post-submit-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 120px;
  border: 2px solid rgb(34, 140, 210);
  color: rgb(34, 140, 210);
  border-radius: 10px;
  font-size: 16px;
}

.New-post-submit-button:hover {
  border: 2px solid rgba(34, 140, 210, 0.8);
  background: rgba(34,140,210, 0.8);
  color: white;
  cursor: pointer;
}

.New-post-submit-button:active {
  border: 2px solid rgba(34, 140, 210, 1);
  background: rgba(34,140,210, 1);
}

.New-post-submit-button:focus {
  box-shadow: 0 0 10px 2px rgba(34, 140, 210, 0.8);
  outline: none;
}

.Post-heading {
  color: rgb(34, 140, 210);
}

.Post-div {
  border-bottom: 1px solid lightgray;
}
